* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Reset Rules  */

/* Classes for POSITION  */

.ps-fixed {
    position: fixed;
    top: 0px;
}

.top-fixed {
    top: 0px;
}

.ps-absolute {
    position: absolute;
}

.ps-relative {
    position: relative;
}

.z-index-one {
    z-index: 1;
}

.z-index-two {
    z-index: 2;
}

.z-index-three {
    z-index: 3;
}

/* END Classes for POSITION  */

/* Classes for FLEX  */

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

/* END Classes for FLEX  */

/* Hover Rules  */

.product:hover .container img:first-child {
    display: none;
    transition: transform 1s linear;

}

.product:hover .container img:nth-child(2) {
    display: inline-block;
    transition: transform 1s linear;

}

.hearth:hover {
    color: red;
}

/* END Hover Rules  */

/* Header Rules  */

header {

    width: 100%;
    background-color: #EF6837;
    border-bottom: 2px solid #C6C2BB;
    padding: 20px;
}

nav {

    justify-content: space-between;
    align-items: center;

    width: 80%;
}

nav menu {
    max-width: 80px;
    gap: 8px;
}

nav menu .voice {
    
    list-style-type: none;
}

nav menu .voice .link {

    text-decoration: none;

    color: white;

    font-size: 0.9em;
    font-weight: bold;
}

nav .logo {
    justify-content: center;
    flex-grow: 1;
}

nav img {

    width: 130px;
}


nav .icons {
    gap: 8px;

    max-width: 50px;

    color: white;
}

/* END Header Rules  */

/* Main with Rules valid for every product */

main {
    width: 80%;

    margin: 0 auto;
    margin-top: 100px;

}

main .product {

    float: left;

    margin-left: 20px;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

main .product .container {
    display: block;

    width: (100 / 3);
    margin-bottom: 40px;

}


main img {
    max-width: 330px;
    height: auto;
}

.product .container img:nth-child(2) {
    display: none;
}



main .product .container .discount {

    height: 25px;
    left: 0px;
    bottom: 80px;

    padding: 3px 6px;

    font-size: 0.7em;
    font-weight: bold;
    background-color: red;
}

.argument {

    left: 50px;
    bottom: 80px;

    height: 25px;

    padding: 3px 6px;

    font-size: 0.7em;
    font-weight: bold;
    background-color: green;
}

.hearth {

    right: 0px;
    top: 10px;

    width: 40px;
    height: 40px;

    background-color: white;
    color: black;
}

.brand {
    padding-top: 5px;
    left: 20px;
    bottom: 20px;

    font-size: 0.8em;
    color: grey;
}

.cloth {
    
    font-size: 1em;
    font-weight: bold;
    color: black;
}


.red-text {
    font-size: 0.8em;
    font-weight: bold;

    color: red;
}

.x-text {
    font-size: 0.8em;
    text-decoration: line-through;

    color: black;
}

#unique {

    left: 0px;
    bottom: 80px;

    height: 25px;

    padding: 3px 6px;

    font-size: 0.7em;
    font-weight: bold;
    background-color: green;
}
/* END Main with Rules valid for every product */


/* Footer */

footer {
    width: 100%;

    padding: 20px;

    background-color: #181818;
    color: white;

}

footer .container {
    justify-content: space-between;
    align-items: center;

    width: 80%;
}


footer .container .legal-info {
    flex-direction: column;
    max-width: 600px;
    gap: 8px;
}

#company {
    font-size: 1em;
    font-weight: bold;
}

#policies {
    gap: 8px;

    list-style-type: none;

    font-size: 0.8em;

}

footer .container .social div:first-child {
    font-size: 0.8em;
    text-align: center;
}

footer .container .social div:last-child {
    padding-top: 4px;
    gap: 8px;
}

footer .container .social div:last-child i {
    font-size: 1.7em;
}