* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Reset Rules  */

/* Classes for POSITION  */

.ps-fixed {
    position: fixed;
}

.ps-absolute {
    position: absolute;
}

.ps-relative {
    position: relative;
}

.z-index-one {
    z-index: 1;
}

.z-index-two {
    z-index: 2;
}

.z-index-three {
    z-index: 3;
}

/* END Classes for POSITION  */

/* Classes for FLEX  */

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

/* END Classes for FLEX  */

/* Header Rules  */

header {

    width: 100%;
    background-color: #EF6837;
    border: 2px solid #C6C2BB;
    padding: 20px;
}

nav {

    justify-content: space-between;
    align-items: center;

    width: 80%;
}

nav menu {
    max-width: 80px;
    gap: 8px;
}

nav menu .voice {
    
    
    list-style-type: none;
}

nav menu .voice .link {

    text-decoration: none;

    color: white;

    font-size: 0.9em;
    font-weight: bold;
}

nav .logo {
    justify-content: center;
    flex-grow: 1;
}

nav img {

    width: 130px;
}


nav .icons {
    gap: 8px;

    max-width: 50px;

    color: white;
}

/* END Header Rules  */

/* Main with products  Rules */

main {
    width: 80%;

    margin: 0 auto;
    margin-top: 40px;

    /* test  */
    background-color: grey;
}

main .product {
    
    float: left;

    margin-left: 20px;
}

main::after {
    clear: both;
    display: table;
    content: "";
}

main .product .images {
    display: inline-block;

    width: (100 / 3 -20);

    /* Test  */
    background-color: red;
}


main .product .images img:first-child {
    max-width: 230px;
    height: auto;
}